extends layout

block content
  head
    style(type='text/css').
        html{
            background-color:orange;
        }

        .contenedor{
            width: 1000px;
            margin: auto;
            background-color: white;
        }

        .etiq{
            float: left; 
            width: 230px;
            text-align: right;
            margin-right: 10px;
        }   
           
  div(class = "contenedor")

    nav
        a(href="/") Inicio
        br
        a(href="/registrar") Registrar Estudiante
        br
        //a(href="/buscar") Buscar Estudiante
        //br
        a(href="/eliminar") Eliminar Estudiante
        br
        a(href="/actualizar") Actualizar Estudiante
        br
        a(href="#") Otra opci&oacute;n
     
    h1 Modificación de Dirección

    div
      input(type="text" name="txtID" id="txtID" placeholder="ID de Estudiante")
      input(type="button" name="btnRellenar" id ="btnRellenar" value="Buscar")

    form(id="subForm" name="subForm" method="GET" action="")
        p 
            label(for="id_dir" class="etiq") ID
            input(type="text" name="pais" id="id_dir")
        p 
            label(for="pais" class="etiq") Pa&iacute;s
            input(type="text" name="pais" id="pais")
        p 
            label(for="estado" class="etiq") Estado
            input(type="text" name="estado" id="estado")
        p 
            label(for="municipio" class="etiq") Municipio
            input(type="text" name="municipio" id="municipio")
        p 
            label(for="colonia" class="etiq") Colonia
            input(type="text" name="colonia" id="colonia")
        p 
            label(for="calle" class="etiq") Calle
            input(type="text" name="calle" id="calle")
        p 
            label(for="num" class="etiq") N&uacute;mero
            input(type="number" name="num" id="num")
        p 
            label(for="cp" class="etiq") C&oacute;digo Postal
            input(type="text" name="cp" id="cp")
        p
            input(type="button" name="nuevo" id="btnActualizar" value="Actualizar")
   
    script(src="./javascripts/jquery.js")
    script(src="./javascripts/funciones.js")

    //input(type="button", value="Mostrar", id="btn")