extends layout

block content
  head
    style(type='text/css').
        html{
            background-color:orange;
        }

        .contenedor{
            width: 1000px;
            margin: auto;
            background-color: white;
            padding: 10px;
        }

        table {
            border-collapse : collapse;
        }

        td, th {
          border: black 1px solid;
        }
  div(class="contenedor")
    h1 Eliminar Estudiante
    nav
      a(href="/") Inicio
      br
      //a(href="/registrar") Registrar Estudiante
      //br
      a(href="/buscar") Buscar Estudiante
      br
      a(href="/eliminar") Eliminar Estudiante
      br
      a(href="/actualizar") Actualizar Estudiante
      br
      a(href="#") Otra opci&oacute;n
    br
    div
      input(type="text" name="txtID" id="txtID" placeholder="ID de estudiante")
      button(id="btnEliminar") Eliminar
    div(#divMensaje)

  script(src="./javascripts/jquery.js")
  script(src="./javascripts/funciones.js")
    

    //input(type="button", value="Mostrar", id="btn")