extends layout

block content
  head
    style(type='text/css').
        table {
            border-collapse : collapse;
        }

        th, th {
          border: black 1px solid;
        }
        
        .container{
          margin-top: 20px;
          background-color: white;
        }

  nav(class="navbar navbar-expand-md bg-dark navbar-dark")
    <!-- Brand -->
    a(class="navbar-brand" href="/") Estudiante

    <!-- Toggler/collapsibe Button -->
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
      span(class="navbar-toggler-icon")

    <!-- Navbar links -->
    div(class="collapse navbar-collapse" id="collapsibleNavbar")
      ul(class="navbar-nav")
        li(class="nav-item")
          a(class="nav-link" href="/registrar") Inicio
        li(class="nav-item")
          a(class="nav-link" href="/registrar") Registrar Estudiante
        li(class="nav-item")
          a(class="nav-link" href="/buscar") Buscar Estudiante
        li(class="nav-item")
          a(class="nav-link" href="/eliminar") Eliminar Estudiante
        li(class="nav-item")
          a(class="nav-link" href="/actualizar") Actualizar Estudiante
  
  div(class="container pl-5 pr-5")
    div(class="row")
      h2 Lista de Estudiantes
    div(class="row")        
      select(name="filtro" id="filtro")
        option(value="0") Nombre
        option(value="1") Municipio
        option(value="2") Promedio
        option(value="3") Escuela
      select(name="orden" id="orden")
        option(value="ASC") ASC
        option(value="DESC") DESC
      input(type="button" name="filtrar" id="filtrar" value="Filtrar" class ="btn btn-primary")
    br
    div(class="row")
      div(class="table-responsive")
        table(id="tablaInicio" class="table table-bordered table-striped")
          thead(class="thead-dark")
            tr
              th Apellido Paterno
              th Apellido Materno
              th Nombre
              th Sexo
              th Fecha de Nacimiento
              th CURP
              th Calle
              th N&uacute;mero
              th Colonia
              th Municipio
              th Estado
              th Pais
              th CP
              th Email
              th Tel
              th Cel
              th Estado Civil
              th Tipo de Sangre
              th NSS
              th Alergias
              th Promedio
              th Escuela Procedencia
              th Fecha de Egreso
          tbody
    
  
  <!-- Latest compiled and minified CSS -->
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  script(src="./javascripts/jquery.js")
  script(src="./javascripts/funciones.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
