doctype html
html
  head
    title= title
    style(type='text/css').
      body{
        background:url("./images/teatro2.jpg") no-repeat
      }
    //link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
