extends layout

block content
  script(src="./javascripts/jquery.js")
  //script(src="./javascripts/funciones.js")
  head
    style(type='text/css').
        html{
            background-color:orange;
        }

        .contenedor{
            width: 1000px;
            margin: auto;
            background-color: white;
        }

        .etiq{
            float: left; 
            width: 230px;
            text-align: right;
            margin-right: 10px;
        }
        
  //- p #{titulo}
  div(class = "contenedor")
    h1 Formulario de Registro Estudiante
    form(id="subForm" name="subForm" method="GET" action="")
        p 
            label(for="nombre" class="etiq") Nombre
            input(type="text" name="nombre" id="nombre")
        p 
            label(for="paterno" class="etiq") Apellido Paterno
            input(type="text" name="paterno" id="paterno")
        p 
            label(for="materno" class="etiq") Apellido Materno
            input(type="text" name="materno" id="materno")
        p 
            label(for="sexo" class="etiq") Sexo
            select(name="sexo")
                option(value="M") M
                option(value="F") F
        p 
            label(for="email" class="etiq") Email
            input(type="email" name="email" id="email")
        p 
            label(for="tel" class="etiq") Tel&eacute;fono
            input(type="tel" name="tel" id="tel")
        p 
            label(for="cel" class="etiq") Celular
            input(type="tel" name="cel" id="cel")
        p 
            label(for="pais" class="etiq") Pa&iacute;s
            input(type="text" name="pais" id="pais")
        p 
            label(for="estado" class="etiq") Estado
            input(type="text" name="estado" id="estado")
        p 
            label(for="municipio" class="etiq") Municipio
            input(type="text" name="municipio" id="municipio")
        p 
            label(for="colonia" class="etiq") Colonia
            input(type="text" name="colonia" id="colonia")
        p 
            label(for="calle" class="etiq") Calle
            input(type="text" name="calle" id="calle")
        p 
            label(for="num" class="etiq") N&uacute;mero
            input(type="number" name="num" id="num")
        p 
            label(for="cp" class="etiq") C&oacute;digo Postal
            input(type="text" name="cp" id="cp")
        p 
            label(for="curp" class="etiq")  CURP
            input(type="text" name="curp" id="curp")
        p 
            label(for="fenac" class="etiq") Fecha de nacimiento
            input(type="date" name="fenac" id="fenac")
        p 
            label(for="estatus" class="etiq") Estatus
            select(name="estatus")
                option(value="1") Activo
                option(value="0") Inactivo
        p 
            label(for="civil" class="etiq") Estado Civil
            select(name="civil")
                option(value="1") Soltero(a)
                option(value="2") Casado(a)
                option(value="3") Unión Libre
                option(value="4") Comprometido(a)
        p 
            label(for="sangre" class="etiq") Tipo de sangre
            select(name="sangre")
                option(value="O+") O+
                option(value="O-") O-
                option(value="A+") A+
                option(value="A-") A-
                option(value="B+") B+
                option(value="B-") B-
                option(value="AB+") AB+
                option(value="AB-") AB-
        p 
            label(for="nss" class="etiq") N&uacute;mero de Seguro Social
            input(type="number" name="nss" id="nss")
        p 
            label(for="alergias" class="etiq") Alergias
            input(type="text" name="alergias" id="alergias")
        p 
            label(for="escuela" class="etiq") Escuela de Procedencia
            input(type="text" name="escuela" id="escuela")
        p 
            label(for="egreso" class="etiq") Fecha de Egreso
            input(type="date" name="egreso" id="egreso")
        p 
            label(for="promedio" class="etiq") Promedio de Egreso
            input(type="text" name="promedio" id="promedio")
        
        h3 Tutor
        p 
            label(for="nombre" class="etiq") Nombre
            input(type="text" name="nombre" id="nombre")
        p 
            label(for="paterno" class="etiq") Apellido Paterno
            input(type="text" name="paterno" id="paterno")
        p 
            label(for="materno" class="etiq") Apellido Materno
            input(type="text" name="materno" id="materno")
        p 
            label(for="sexo" class="etiq") Sexo
            select(name="sexo")
                option(value="M") M
                option(value="F") F
        p 
            label(for="email" class="etiq") Email
            input(type="email" name="email" id="email")
        p 
            label(for="tel" class="etiq") Tel&eacute;fono
            input(type="tel" name="tel" id="tel")
        p 
            label(for="cel" class="etiq") Celular
            input(type="tel" name="cel" id="cel")
        p 
            label(for="pais" class="etiq") Pa&iacute;s
            input(type="text" name="pais" id="pais")
        p 
            label(for="estado" class="etiq") Estado
            input(type="text" name="estado" id="estado")
        p 
            label(for="municipio" class="etiq") Municipio
            input(type="text" name="municipio" id="municipio")
        p 
            label(for="colonia" class="etiq") Colonia
            input(type="text" name="colonia" id="colonia")
        p 
            label(for="calle" class="etiq") Calle
            input(type="text" name="calle" id="calle")
        p 
            label(for="num" class="etiq") N&uacute;mero
            input(type="number" name="num" id="num")
        p 
            label(for="cp" class="etiq") C&oacute;digo Postal
            input(type="text" name="cp" id="cp")
        p 
            label(for="curp" class="etiq")  CURP
            input(type="text" name="curp" id="curp")
        p 
            label(for="fenac" class="etiq") Fecha de nacimiento
            input(type="date" name="fenac" id="fenac")
        p
            input(type="button" name="nuevo" id="nuevo" value="Nuevo")
        p
            input(type="button" name="cancelar" id="cancelar" value="Cancelar")
   


    //input(type="button", value="Mostrar", id="btn")